@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.disabled {
    color: #999;
    pointer-events: none;
    cursor: default;
  }